.App{

  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 0rem 5rem;
  flex-direction: column;
  margin-top: 0;
  border-bottom: 3px solid black;
  border-bottom-style: dashed;
  padding-bottom: 5rem;

}
.counter {
  display: flex;
  gap: 5rem;
  flex-direction: row-reverse;

}
button {
  width: 100px;
  height: 100px;
  background: chartreuse;
  cursor: pointer;
  font-size: 45px;
  font-weight: 700;
  border-radius: 50%;
}
p.appparagraph{
    width: 100px;
    text-align: center;
    height: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 40px;
    font-weight: 900;
    background: wheat;
    border-radius: 50%;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: purple;
  background: bisque;
  margin-top: 0;
}
